<%- include("partials/header") -%>
<h1>Passenger Details:</h1>
<div class="row">
  <div class="col-xs-6">
    Name: <%- data[0].PFName %> <%- data[0].PLName %>
  </div>
  <div class="col-xs-6">
    Passenger ID: <%- data[0].PID %>
  </div>

</div>
<div class="row">
  <div class="col-xs-6">
    Phone Number: <%- data[0].PhoneNo %>
  </div>
  <div class="col-xs-6">
    Email ID: <%- data[0].EmailID %>
  </div>
</div>
<div class="row">
  <% data1.forEach(ele => { %>
  <div class="col-xs-4">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Ticket ID: <%- ele.TicketID %> </p>
        <% data2.forEach(ele1=>{ if(ele1.SID===ele.StartID){%>
        <p class="card-text">Start Station: <%- ele1.SName %>
          <%}})%>
        <p class="card-text">Start Time: <%- ele.StartTime %>
          <% data2.forEach(ele1=>{ if(ele1.SID===ele.EndID){%>
        <p class="card-text">End Station: <%- ele1.SName %>
          <%}})%>
        <p class="card-text">Fare: <%- ele.Fare %></p>
      </div>
    </div>
  </div>
  <% }); %>
</div>

<%- include("partials/footer") -%>