<%- include("partials/header") -%>
<div class="card">
  <div class="card-body">
    <h1 class="card-title">Passenger Details:</h1>
    <p class="card-text">Passenger ID: <%- data[0].PID %> </p>
    <p class="card-text">Name: <%- data[0].PFName %> <%- data[0].PLName %></p>
            <p class="card-text">Phone Number: <%- data[0].PhoneNo %> </p>
    <p class="card-text">Email ID: <%- data[0].EmailID %></p>
  </div>
</div>


</div>
<div class="footer-padding">
<div class="footer footer-bottom">
  <p>Made by theDoers</p>
</div>
</div>
</div>
</body>

</html>
